<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Users</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="index-header">
    <h1>All Users</h1>
    </div>
    <ul>
        <% users.forEach(user => { %>
            <div class="card-container">
                <a href="/users/<%= user._id %>">
                <li><%= user.username %></li>
                </a>
            </div>
        <% }); %>
    </ul>
</body>
</html>